/*Content*/

#Content {
  position: relative;
  top: 370px;
  left: 25.6%;
  width: 63%;
  height: 30px;
  z-index: 1;
  padding: 20px;
  border: none 2px solid;
  /* background-color:#FFFFFF; */
}

body {
  margin: 0em;
  background-color: #FFFFFF;
  /* background-image: url("../img/chair_2.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center top;
  letter-spacing: 0.05em;
  /* background-position-x: 1000%; */
  /* height: 100%; */
  /* width: 100%; */
}

.contextImage {
  position: relative;
  /* top: em; */
  width: 100%;
  height: 40em;
  background-color: grey;
  background-image: url("../img/AOBpic0.png");
  background-size: cover;
  /* background-blend-mode: luminosity; */
  /* background-size: cover; */
}

.blobbyVideo {
  float: right;
  clear: right;
  width: 40%;
  height: 22.33vw;
  margin-right: 5%;
}

.box {
  position: relative;
  background-color: rgba(158, 146, 143, 0.15);
  /* color: rgb(230, 230, 230); */
  color: black;
  display: inline-block;
  /* padding: 5em 4em; */
  width: 100%;
  height: 30em;
  /* margin-top: 10em; */
  align-items: center;
  line-height: 1.7em;
  margin-top: 10em;
  /* left: 15%; */
  /* border-radius: 10px; */
  /* padding:2em; */
}

.bio {
  position: relative;
  display: block;
  margin-top: 19em;
  margin-left: 2em;
}

.box h2 {
  /* text-align: center; */
  margin-bottom: 1em;
}

.box p {
  max-width: 50%;
}

.Line {
  width: 90%;
  margin-left: 5%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.projectTitles {
  position: relative;
  display: inline-block;
  /* background-color: grey; */
  /* width: 10%; */
  float: left;
  width: 95%;
  margin-left: 5%;
  margin-top: 2em;
  /* padding: 2em 5em; */
}

.projectContext {
  position: relative;
  display: inline-block;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  /* background-color: grey; */
  /* width: 10%; */
  float: left;
  width: 45%;
  height: 22.33vw;
  padding-top: 6em;
  margin-left: 5%;
  margin-top: 0em;
  /* padding: 2em 5em; */
}

.contextBlock {
  /* margin: 3em; */
  width: 25%;
}

.contetTitles {
  font-weight: bold;
}

.ImageContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  margin-top: 10em;
  /* margin-left: 10%; */
  justify-content: space-between;
  /* margin-left: 20%; */
}

.projectImages {
  /* width: 30%; */
  position: relative;
  max-width: 49%;
  min-width: 20em;
  /* min-width: 15em; */
  /* height: auto; */
  /* margin: 1%; */
}

.projectAnalyse {
  display: inline-block;
  width: 70%;
  margin-left: 15%;
  margin-top: 5em;
  /* margin-top: 10em; */
}

.para1 {
  margin-top: 5em;
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.para2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 10em;
}

.para3 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 10em;
}

.AnalyseTextBlock1 {
  float: left;
  width: 47%;
  /* padding-left: 10%; */
  /* padding-top: 3em; */
  /* padding-right: 3em; */
}

.AnalyseTextBlock1 h3 {
  margin-top: 0em;
}

.AnalyseImageBlock1 {
  float: Right;
  width: 47%;
  display: flex;
  flex-flow: column;
  padding-left: 3em;
}

.AnalyseImageBlock1 img {
  width: 100%;
  height: auto;
}

.AnalyseImageBlock2 {
  float: left;
  width: 47%;
  display: flex;
  flex-flow: column;
  /* padding-right: 3em; */
}

.AnalyseImageBlock2 img {
  width: 100%;
  height: auto;
}

.AnalyseTextBlock2 {
  float: right;
  width: 47%;
  padding-right: 10%;
  /* padding-top: 3em; */
  /* padding-right: 3em; */
  padding-left: 3em;
}

.AnalyseTextBlock2 h3 {
  margin-top: 0em;
}

.AnalyseTextBlock3 {
  float: left;
  width: 47%;
  /* padding-left: 15%; */
  /* padding-top: 3em; */
  /* padding-right: 3em; */
}

.AnalyseTextBlock3 h3 {
  margin-top: 0em;
}

.AnalyseImageBlock3 {
  float: Right;
  width: 47%;
  display: flex;
  flex-flow: column;
  padding-left: 3em;
}

.AnalyseImageBlock3 img {
  width: 100%;
  height: auto;
}

.flexImage {
  width: 100%;
  height: auto;
}

.item2 a {
  border-bottom: 2px solid #A8A79F;
  padding-bottom: 6px;
}

/*The Prperty tax title*/

#sidenavtext h3 {
  margin: 0 auto;
  margin-bottom: 1.17rem;
  margin-top: 1rem;
}

#footer {
  margin-top: 10em;
}

@media screen and (max-width: 1150px) {
  .projectContext {
    padding-top: 3em;
    width: 50%;
  }
}

@media screen and (max-width: 910px) {
  .projectContext {
    padding-top: 0em;
  }
}

@media screen and (max-width: 840px) {
  .projectContext {
    width: 95%;
  }
  .blobbyVideo {
    float: left;
    clear: left;
    width: 90%;
    height: 50.625vw;
    margin-left: 5%;
  }
  .AnalyseTextBlock1 {
    padding-left: 0%;
  }
  .AnalyseImageBlock1 {
    padding-left: 0em;
  }
  .AnalyseTextBlock2 {
    padding-right: 0%;
  }
  .ImageContainer {
    flex-flow: column;
  }
  .projectImages {
    max-width: 100%;
    min-width: 0%;
  }
}

@media screen and (max-width: 700px) {
  .projectAnalyse {
    width: 90%;
    margin-left: 5%;
  }
  .AnalyseImageBlock3 {
    width: 100%;
    padding-left: 0em;
    margin-bottom: 2em;
  }
  .AnalyseTextBlock3 {
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .projectContext {
    flex-flow: column;
    height: 20em;
  }
  .contextBlock {
    /* margin: 3em; */
    width: 100%;
  }
  .AnalyseImageBlock1 {
    width: 100%;
    padding-left: 0em;
    margin-bottom: 2em;
  }
  .AnalyseTextBlock1 {
    width: 100%;
  }
  .AnalyseImageBlock2 {
    width: 100%;
    padding-left: 0em;
    margin-left: 0em;
    margin-bottom: 2em;
  }
  .AnalyseTextBlock2 {
    width: 100%;
    padding-left: 0em;
  }
}